/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */

p {
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Indie Flower', cursive;
}
h3 {font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Indie Flower', cursive;
}
p { font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Indie Flower', cursive;
    color: brown;
}




